.app {
	min-height: 110vh !important;
}

.app .container {
	max-width: 100%;
}

.question-container {
	flex: 0 0 60% !important;
	max-width: 60% !important;
	height: 65vh;
	padding: 0 !important;
	border-radius: 40px;
}

.question_1 {
	background-image: url("../../../public/img//questions/question_1_bg.png");
	background-size: cover;
}

.question-container .card {
	background-color: transparent;
	border: none;
	height: 65vh;
	padding: 0 !important;
}

.question-container .card .card-body {
	padding: 0 !important;
}

.question-container .card .card-body div {
	width: 33.33333%;
	float: left;
	display: flex;
	justify-content: center;
}

.default-bg {
	background-image: url("../../../public/img/login_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.login-img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 65px 0 50px;
}

.logo-img {
	width: 30%;
}

.card.student-bg-color {
	background-color: #3B86FF;
	border-radius: 40px;
	height: 100%;
}

.card-body h1 {
	color: #FFF;
	text-align: center;
	width: 100%;
	z-index: 999;
	position: relative;
	text-transform: uppercase;
	font-size: 27px;
	margin: 40px 0 35px;
}

.card-group {
	display: block !important;
}

label {
	width: 80%;
	color: #FFF;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	display: block !important;
	margin: 0 auto;
}

.input-group .form-control {
	border-radius: 20px;
}

.mb-3.input-group {
	margin-bottom: 35px !important;
}


.mb-3.input-group,
.mb-4.input-group {
	width: 77%;
	margin: 0 auto;
	height: 50px;
}

.teacher-login-button {
	position: absolute !important;
	width: 21% !important;
	right: 60px;
	top: 25px;
}

.teacher-login-button button {
	max-width: 100%;
  background-color: #3B86FF;
  height: 50px;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  border-radius: 18px;
  width: 100%;
  font-weight: 700;
  padding-left: 35px !important;
}

.student-login-button {
	margin: 0 auto;
	flex: 0 0 100%;
	max-width: 100%;
	justify-content: center;
	display: flex;
	margin-top: 35px;
}

.student-login-button a {
	width: 100%;
}

.student-login-button button {
	height: 50px;
	border-color: #FFDC00;
	color: #FFDC00;
	background-color: transparent;
	border-radius: 20px;
	width: 100%;
	border-width: 2px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 19px;
}

.student-login-button .btn-primary:hover {
  color: #fff;
  background-color: #FFDC00;
  border-color: #FFDC00;
}

.student-login-container {
	flex-direction: column;
	width: 75%;
    height: 65vh;
    margin: 0 5% 0 20%;
}

.student-login-container .card-body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.student-login-container .card-body label {
	width: 100%;
	text-align: center;
	margin-top: 8%;
	font-size: 29px;
}

.student-login-container .card-body .btn-secondary,
.student-login-container .card-body .btn-secondary:hover,
.student-login-container .card-body .btn-secondary:active {
	background-color: transparent;
	border-color: transparent;
}

.modal-lg {
	max-width: 80% !important;
}

.d-none {
	display: none;
}

.bubbles-top-box {
	position: absolute;
	top: -26px;
	right: -53px;
}

.play_button_box {
	width: 40%;
	margin: 0 auto;
}

.play_button_box img {
	width: 100%;
}

.bubbles-teacher-box {
	position: absolute;
	right: -12px;
	top: -9px;
	z-index: -1;
}

.bubbles-teacher-box img {
	width: 35%;
	float: right;
	transform: rotate(15deg);
}

.question_box {
    position: absolute;
    top: 0;
    right: 29%;
    width: 40%;
}

.question_box h1 {
	text-align: right;
    font-size: 20px;
    padding-right: 10%;
    margin-bottom: 5px;
}

.question_box p {
	font-size: 12px;
    padding: 0 2% 0 4%;
}

.bubbles-top {
	width: 90%;
}

.bubbles-bottom-box {
	position: absolute;
	bottom: -38px;
	left: -58px;
	transform: rotate(45deg);
}

.bubbles-bottom {
	width: 90%;
}